<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to use ngx-echarts!
  </h1>
</div>

<h3>Easy to show an echarts: </h3>
<div echarts [options]="options"></div>

<h3>Easy to choose a theme: </h3>
<div echarts [options]="options" theme="macarons"></div>

<h3>Easy to update data asynchronous: <button (click)="getData()" style="padding: 0.5em;">Get Data</button></h3>
<div echarts [options]="options" [merge]="mergeOption" [loading]="loading"></div>
